@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}


@keyframes gradient-shift {

  0%,
  100% {
    background-position: 0% 50%;
  }

  25% {
    background-position: 50% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  75% {
    background-position: 50% 50%;
  }
}

@keyframes shimmer {
  0% {
    opacity: 0.95;
  }

  100% {
    opacity: 0.9;
  }
}

.collect-bg {
  background: linear-gradient(120deg, #000000, #070707, #030303, #080808fb, #0e0e0e);
  background-size: 300% 300%;
  animation: gradient-shift 8s infinite, shimmer 3s infinite alternate;
}


.thin-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(var(--foreground-rgb), 0.5);
  border-radius: 50px;
}